In [ ]:
import pandas as pd
objs = pd.Series([5, 8, -4, 2])
print(objs)
print(objs[2])

0    5
1    8
2   -4
3    2
dtype: int64
-4

In [ ]:
import pandas as pd

objs = pd.Series([5, 8, -4, 2],
                 index=['a','b','c','d'])
print(objs)
#drop row 'b', and then assign to newobjs
newobjs = objs.drop('b') #reassign a new series
print(newobjs)

#drop row 'b' and 'd', and then assign to newobjs
newobjs = objs.drop(['b', 'd']) #reassign a new series
print(newobjs)

a    5
b    8
c   -4
d    2
dtype: int64
a    5
c   -4
d    2
dtype: int64
a    5
c   -4
dtype: int64

In [ ]:
import pandas as pd
popul = pd.Series([13.78, 3.24, 0.65, 1.27],
          index=['China','USA','UK','Japan'])
print(popul)
print(popul['USA'])

China    13.78
USA       3.24
UK        0.65
Japan     1.27
dtype: float64
3.24

In [ ]:
import pandas as pd
populdict = {"China": 13.78, "USA": 3.24, "UK": 0.65}
popul = pd.Series(populdict)
print(popul)

China    13.78
USA       3.24
UK        0.65
dtype: float64

In [ ]:
import pandas as pd
popul = pd.Series([13.78, 3.24, 0.65, 1.27],
          index=['China','USA','UK','Japan'])
print(popul[popul<3])
print()
print('HK' in popul)
print()
print(popul[['China', 'UK']])

UK       0.65
Japan    1.27
dtype: float64

False

China    13.78
UK        0.65
dtype: float64

In [8]:
import pandas as pd

data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
        'year': [2017, 2018, 2019, 2018, 2019],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
frame = pd.DataFrame(data)
print(frame)
print()

#Length of the Data Frame
print(len(frame.index))
print()
#Get the column names
print(frame.columns)
print()
#Get the column 'state'
print(frame.state)
print()
#Get the third row 
print(frame.loc[2])

    state  year  pop
0    Ohio  2017  1.5
1    Ohio  2018  1.7
2    Ohio  2019  3.6
3  Nevada  2018  2.4
4  Nevada  2019  2.9

5

Index(['state', 'year', 'pop'], dtype='object')

0      Ohio
1      Ohio
2      Ohio
3    Nevada
4    Nevada
Name: state, dtype: object

state    Ohio
year     2019
pop       3.6
Name: 2, dtype: object

In [7]:
import pandas as pd

data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
        'year': [2017, 2018, 2019, 2018, 2019],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
frame = pd.DataFrame(data)

#Update a record with another Data Frame
data2 = {'state': [], 'year': [], 'pop':0.0}
frame2 = pd.DataFrame(data2)
frame2.loc[2] = frame.loc[1]
frame2.loc[0] = frame.loc[3]
print(frame2)

#Reset the order
frame2.reset_index(drop=True, inplace=True)
print(frame2)

    state    year  pop
2    Ohio  2018.0  1.7
0  Nevada  2018.0  2.4
    state    year  pop
0    Ohio  2018.0  1.7
1  Nevada  2018.0  2.4

In [ ]:
import pandas as pd

data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
        'year': [2017, 2018, 2019, 2018, 2019],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
frame = pd.DataFrame(data)

#Change value at row 1, column 'year'
frame.at[1, 'year'] = 2020
print(frame)
print()
#Change the whole column 'year' to 2021
frame.year = 2021
print(frame)

    state  year  pop
0    Ohio  2017  1.5
1    Ohio  2020  1.7
2    Ohio  2019  3.6
3  Nevada  2018  2.4
4  Nevada  2019  2.9

    state  year  pop
0    Ohio  2021  1.5
1    Ohio  2021  1.7
2    Ohio  2021  3.6
3  Nevada  2021  2.4
4  Nevada  2021  2.9

In [1]:
import pandas as pd

data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
        'year': [2017, 2018, 2019, 2018, 2019],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
frame = pd.DataFrame(data)

#drop row 1
newframe = frame.drop(1)
print(newframe)
print()
#drop column 'year'
#need to change axis from row (by default) to column
newframe = frame.drop('year', axis=1)
print(newframe)
print()

frame.drop(1, inplace=True)
print(frame)

    state  year  pop
0    Ohio  2017  1.5
2    Ohio  2019  3.6
3  Nevada  2018  2.4
4  Nevada  2019  2.9

    state  pop
0    Ohio  1.5
1    Ohio  1.7
2    Ohio  3.6
3  Nevada  2.4
4  Nevada  2.9

    state  year  pop
0    Ohio  2017  1.5
2    Ohio  2019  3.6
3  Nevada  2018  2.4
4  Nevada  2019  2.9

In [2]:
import pandas as pd

data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
        'year': [2017, 2018, 2019, 2018, 2019],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
frame = pd.DataFrame(data)

#Length of a DataFrame
frame_length = len(frame.index)
print(frame_length)
print()

#Index of Data Frame will not be in order
frame.drop(2, inplace=True)
print(frame)
print()

#reset_index will reorder the index
frame.reset_index(drop=True, inplace=True)
print(frame)

5

    state  year  pop
0    Ohio  2017  1.5
1    Ohio  2018  1.7
3  Nevada  2018  2.4
4  Nevada  2019  2.9

    state  year  pop
0    Ohio  2017  1.5
1    Ohio  2018  1.7
2  Nevada  2018  2.4
3  Nevada  2019  2.9